<%- include('../layouts/adminHeader.ejs') -%>
  <!-- Sidebar Start -->
  <%- include('../layouts/sidebar.ejs') -%>
    <div class="p-5 w-75 container">
      <div class="">
        <div class="card my-4">
          <div class="card-header p-0 position-relative   z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3 fs-5 fw-bold">Coupons</h6>
              <div class="text-center text-dark fw-bold">
                <% if(typeof locals.message !=='undefined' ){ %>
                  <p class="">
                    <%= locals.message %>
                  </p>
                  <%} %>
              </div>
              <div class="text-end pe-4">
                <a href="/admin/coupons/addcoupon">
                  <button class="btn btn-dark text-white rounded-0 fw-bold fs-7"><i class="bi bi-plus-lg"></i>
                    COUPON</button>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0 ">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Coupon Code</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Description</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Discount
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Min
                      Purchase
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Expiry
                      Date
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action
                    </th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <% if (coupons && coupons.length> 0) {
                    for (let i = 0; i < coupons.length; i++) { %>
                      <tr>
                        <td class="align-middle text-center text-sm">
                          <p class="text-xs font-weight-bold mb-0">
                            <%= coupons[i].code %>
                          </p>
                        </td>
                        <td class="align-middle text-center text-sm text-wrap">
                          <p class="text-xs font-weight-bold mb-0">
                            <%= coupons[i].description %>
                          </p>
                        </td>
                        <td class="align-middle text-center">
                          <p class="text-xs font-weight-bold mb-0">
                            <%= coupons[i].discount %>
                          </p>
                        </td>
                        <td class="align-middle text-center">
                          <p class="text-xs font-weight-bold mb-0">
                            <%= coupons[i].minPurchase %>
                          </p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <% const dd=coupons[i].expiryDate.getDate(); const mm=coupons[i].expiryDate.getMonth() + 1;
                            const yyyy=coupons[i].expiryDate.getFullYear(); const formattedDate=`${dd}-${mm}-${yyyy}`;
                            %>
                            <p class="text-xs font-weight-bold mb-0">
                              <%= formattedDate %>
                            </p>
                        </td>
                        <td class="text-center">
                          <a href="/admin/coupons/editcoupon/<%= coupons[i]._id %>"
                            class="text-secondary font-weight-bold text-decoration-none" data-toggle="tooltip"
                            title="Edit Coupon">
                            <i class="bi bi-pencil-square pe-3"></i>
                          </a>
                          <% if (coupons[i].isCancelled===false) { %>
                            <button class="justify-content-center btn align-items-center btn-outline-danger m-2 fw-bold"
                              onclick="showConfirmationModal('<%= coupons[i]._id %>')">
                              <i class="bi bi-x-lg delete-icon text-danger"></i>CANCEL
                            </button>
                            <% } else { %>
                              <button
                                class="justify-content-center align-items-center btn btn-outline-success m-2 fw-bold"
                                onclick="showConfirmationModal('<%= coupons[i]._id %>')">
                                <i class="bi bi-plus-lg text-success fs-5 fw-bold"></i>ADD
                              </button>
                              <% } %>
                        </td>
                        <% } %>
                      </tr>
                      <% } else { %>
                        <tr class="text-center">
                          <td>
                            <h6>Coupons not added yet, add new coupons</h6>
                          </td>
                        </tr>
                        <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Pagination and Show upto -->
          <div class="mx-3 d-flex justify-content-between border-top pt-3">
            <div class="text-center">
              <ul class="list-unstyled d-flex justify-content-center mb-4">
                <li class="mx-1 ps-2 pe-2 rounded-pill show-upto-item">SHOW UPTO:</li>
                <li class="mx-1 ps-2 pe-2 limit-text rounded-0 <%= limit === 10 ? 'active' : '' %>">
                  <a href="?limit=10" class="">10</a>
                </li>
                <li class="mx-1 ps-2 pe-2 limit-text rounded-0 <%= limit === 25 ? 'active' : '' %>">
                  <a href="?limit=25" class="">25</a>
                </li>
                <li class="mx-1 ps-2 pe-2 limit-text rounded-0 <%= limit === 50 ? 'active' : '' %>">
                  <a href="?limit=50" class="">50</a>
                </li>
                <li class="mx-1 ps-2 pe-2 limit-text rounded-0 <%= limit === 100 ? 'active' : '' %>">
                  <a href="?limit=100" class="">100</a>
                </li>
              </ul>
            </div>
            <!-- Pagination  -->
            <nav aria-label="...">
              <div class="row">
                <div class="col-lg-12 d-flex  align-items-center justify-content-center">
                  <div class="product__pagination  d-flex justify-content-end">
                    <% if(pageNum> 1){
                      %>
                      <a class="mx-1 btn pagination-btn" href="?pageNum=<%= pageNum-1 %>&limit=<%= limit %>">Prev
                      </a>
                      <% } for(let i=1; i<=pageCount; i++){ %>
                        <a class="mx-1 btn ps-2 pe-2 rounded-0 pagination-btn" <% if(pageNum===i){ %>
                          style="color: white; background:black"
                          <% } %>
                            href="?pageNum=<%= i %>&limit=<%= limit %>"><%= i %>
                        </a>
                        <% } if(pageNum < pageCount){ %>
                          <a class="mx-1 btn pagination-btn" href="?pageNum=<%= pageNum+1 %>&limit=<%= limit %>">Next
                          </a>
                          <% } %>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- Confirmation Modal -->
      <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to perform this action?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancel
              </button>
              <a href="#" id="confirmationAction" class="btn btn-danger">Confirm</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Confirmation Modal -->
      <%- include('../layouts/sidebarEnd.ejs') -%>
        <script>
          function showConfirmationModal(couponId) {
            const modal = new bootstrap.Modal(
              document.getElementById("confirmationModal")
            );
            const confirmationAction = document.getElementById("confirmationAction");
            confirmationAction.href = `/admin/coupons/cancelcoupon/${couponId}`;
            modal.show();
          }
        </script>
        <%- include('../layouts/generalFooter.ejs') -%>