<!-- Header Start -->
<%- include ('../layouts/homeHeader.ejs') -%>
    <!-- Header End -->
    <div class="center-div py-5 col-md-12 col-12">
        <div class="container w- pt-5 text-center pb-5 border w-50 border-dark">
            <h1 class="fs-3 text-black text-center text-decoration-underline pb-4">VERIFY OTP</h1>
            <% if(typeof message !=='undefined' ){ %>
                <p class="text-success fw-bold">
                    <%= message %>
                </p>
                <%} %>
                    <form action="/profile/id=<%= user._id %>/forgotpassword" method="post" id="submit-form">
                        <div class="row justify-content-center ps-4 pe-4">
                            <div class="row justify-content-center ps-4 pe-4">
                                <div class="col-md-6 col-12">
                                    <!-- Enter OTP Field -->
                                    <div class="mb-3">
                                        <label for="firstname-input" class="form-label"></label>
                                        <input type="hidden" value="add ejs symbol fname ejs symbol close">
                                        <input type="text" class="rounded-0 form-control w-100" placeholder="Enter your OTP"
                                            name="otp" id="otp-input">
                                    </div>
                                </div>
                                <div class="text-danger text-center" id="message-error"></div>
                            </div>
                            <div class="text-center text-danger">
                                <%= locals.otpErrorMessage?otpErrorMessage:'' %> 
                            </div>
                            <div class="text-center pt-3">
                                <button type="submit" class="rounded-0 btn btn-dark w-25 button-verify" id="verifyButton">Verify</button>
                                <div>
                                    <input type="hidden" name="email" value="<%= email %>" class="form-control">
                                </div>
                                <br> 
                                <div id="countdown-container">
                                    <span id="countdown"></span>
                                </div>
                                <div class="reset" id="resend-container" style="display: none;">
                                    <a href="" onclick="window.location.reload()">Resend OTP</a>
                                </div>
                            </div>
                    </form>
        </div>
    </div><br><br>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
<script>
        var timerReachedZero = false;
        function startTimer(duration,display){
            var timer = duration,minutes,seconds;
            var timerInterval = setInterval(function(){
                minutes = parseInt(timer/60,10);
                seconds = parseInt(timer %60,10);
                minutes = minutes<10?"0" + minutes: minutes;
                seconds = seconds<10?"0" + seconds:seconds;
                display.textContent = minutes + ":" + seconds;
                if(timer <= 0){
                    display.textContent = "Time's up!";
                    /**Hide the countdown container **/
                    document.getElementById("countdown-container").style.display = "none";
                    /**Display the verify button**/
                    document.querySelector(".button-verify").disabled= true;
                    /**Show the resend button**/
                    document.getElementById("resend-container").style.display = "block";
                    /**Set the variable to true**/
                    timerReachedZero = true;
                    clearInterval(timerInterval);
                }else{
                    timer--;
                }
            },1000);
        }
        /**Start the countdown when the page load**/
        window.onload = function(){
            var oneMinute = 60,
            display = document.querySelector('#countdown');
            startTimer(oneMinute,display);
        };
    </script>
    <script>
        /** Form Validation Start **/
        const form = document.getElementById('submit-form');
        const otp = document.getElementById('otp-input');
        form.addEventListener('submit', e => {
            e.preventDefault();
            validateInput();
        });
        const setError = (element, message) => {
            const inputControl = element.parentElement;
            // const errorDisplay = inputControl.querySelector('.error');
            // errorDisplay.innerText=message;
            element.placeholder = message;
            otp.style.border = '1.5px solid red';
            inputControl.classList.add('error');
            inputControl.classList.remove('success');
        };
        const setSuccess = element => {
            const inputControl = element.parentElement;
            // const errorDisplay= inputControl.querySelector('.error');
            // errorDisplay.innerText='';
            element.placeholder = '';
            inputControl.classList.add('success');
            inputControl.classList.remove('error');
        };
        const isValidOTP = otp => {
            const rename = /^[0-9]{6}$/
            return rename.test(Number(otp));
        };
        const validateInput = () => {
            console.log("Entered to validate input");
            const otpValue = otp.value.trim();
            if (otpValue === '') {
                setError(otp, 'Please enter OTP');
            } else if (!isValidOTP(otpValue)) {
                //setError(username);
                document.getElementById('message-error').innerHTML = 'Recheck and Enter your OTP';
            } else {
                console.log("OTP Ok");
                setSuccess(otp);
            }
            //FOR SUBMISSION:
            const inputs = [otp];
            if (inputs.every(input => input.parentElement.classList.contains('success'))) {
                form.submit();
            }
        };
    </script>
    <%- include ('../layouts/footer.ejs') -%>